$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuBg:rgb(255, 255, 255);
$subMenuBg:rgb(255, 255, 255);
$menuHover:#FA541C;
